html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Insert Picture
    link(rel='stylesheet', href='/public/insert.css')
  body
    form(action="/add", method="post", enctype="multipart/form-data")
        .cvr
            .header1 Name
            input(type="text", name="name") 
        .cvr
            .header1 Price
            input(type="text", name="price") 
        input(type="file", name="picture")
        .cvr
            .header1 Description
            textarea( id='', cols='30', rows='10', name='description')
        .cvr
            .header1 Product Type
            input(type='text' name='type')
        .cvr
            .header1 Available Color
            input(type='text')
            input(type="submit", value="submit")