doctype html
head
  link(rel='stylesheet' href='public/profile.css')
  script(src='https://kit.fontawesome.com/0b68ed503d.js' crossorigin='anonymous')
.top
  div
    p Adem
  a(href='' style='float: left; margin-left:20px; margin-right: 20px;') Home
  a(href='#thirdpage' style='float: left; margin-left:20px; margin-right: 20px;') About
  a(href='#home' style='float: left; margin-left:20px; margin-right: 20px;') Packages
  a(href='#secondpage' style='float: left; margin-left:20px; margin-right: 20px;') Join
  i.fa-solid.fa-user(style='float: right; margin-left:20px; margin-right: 50px; font-size:1.5em; margin-top:5px;')

#home.firstpage
.second
  i#hand.fa-solid.fa-hand
  p.hi Hi there, #{username} !
  p.thanks Thanks for using Adem
  button
    a(href = '/logout' style="color:white;")
      | Sign out 
      i.fa-solid.fa-right-from-bracket(style='margin-left: 10px;')
.third
  i#env.fa-solid.fa-envelope
  p.email #{email}
