doctype html
head
  meta(charset='UTF-8')
  title Adem sign in
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
  script(src='https://kit.fontawesome.com/0b68ed503d.js' crossorigin='anonymous')


  link(rel='stylesheet' href='public/stylee.css')
// partial:index.partial.html
#login.login
  .head
    h1.company Adem Signin
  
  .form
     form(action='/login', method='post')
      input#username.text(type='text' placeholder='Username' , name='username' required='')
      br
      input.password(type='password' placeholder='type password', name='password')
      br
      input#do-login.btn-login(type='submit', value='Log In')
      button#do-login(onclick="window.location.href = '/register';") Sign Up
      
      #gSignInWrapper
            
            
            #customBtn.customGPlusSignIn
              img(src='Pictures/google.jpeg' class='icon')
              span.icon
              span.button(onclick="window.location.href = '/auth/google';") Google
          

// partial


          