body {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: white;
}

.grey-text, .home1 .second .sizez, .home1 .second .color, .header .header-cvr .third, .header .header-cvr .second {
  font-size: 15px;
  margin: 0;
}

.text, .favourite .product .bottom .texts .fourth {
  line-height: 25px;
  font-size: 15px;
}

.header1 {
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0;
}

.header2 {
  font-size: 20px;
  font-weight: bold;
}

button {
  cursor: pointer;
}

.bold-text, .header .header-cvr .name, .name {
  font-weight: bold;
}

.name {
  font-size: 20px;
}

.star-rating {
  display: flex;
  align-items: center;
}
.star-rating .star {
  width: 30px; /* Adjust the width based on your design */
  height: 30px; /* Adjust the height based on your design */
  display: flex;
  align-items: center;
}
.star-rating .star .half {
  width: 33px;
  height: 33px;
}

.header {
  padding: 10px 30px;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.header .header-cvr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header .header-cvr .name {
  font-size: 20px;
}
.header .header-cvr .second {
  display: flex;
}
.header .header-cvr .third {
  display: flex;
}

.home1 {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
}
.home1 .img {
  width: 54%;
  height: 700px;
  max-height: 120vh;
  border-radius: 10px;
  margin-right: 30px;
}
.home1 .second {
  width: 40%;
}
.home1 .second .top {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}
.home1 .second .review {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.home1 .second .review .star-rating {
  margin-left: 0px;
}
.home1 .second .review .star-rating .star {
  width: 20px;
  height: 20px;
}
.home1 .second .review .star-rating .star .half {
  width: 22px;
  height: 22px;
}
.home1 .second .color {
  margin: 20px 0 30px 0;
}
.home1 .second .color .color-cir, .home1 .second .color .color-cvr {
  width: 35px;
  height: 35px;
  border-radius: 35px;
}
.home1 .second .color .color-cvr {
  padding: 3px;
  display: inline-block;
}
.home1 .second .sizez .size-brick-cvr {
  display: flex;
  justify-content: space-between;
}
.home1 .second .sizez .size-brick {
  width: 80px;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(105, 105, 105);
  font-weight: bold;
  height: 50px;
  border: 1px solid rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home1 .second .button, .home1 .second .sgn-btn {
  width: 100%;
  margin: 30px 0;
  padding: 18px 0;
  border: none;
  border-radius: 10px;
  background-color: #4F46E5;
  color: white;
  font-size: 18px;
}
.home1 .second1 {
  display: none;
}

.recent-reviews {
  padding: 30px;
}
.recent-reviews .header2 {
  margin: 100px 0 30px 0;
}
.recent-reviews .review {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-top: 1px solid rgb(230, 230, 230);
}
.recent-reviews .review .text, .recent-reviews .review .favourite .product .bottom .texts .fourth, .favourite .product .bottom .texts .recent-reviews .review .fourth {
  font-size: 13px;
}
.recent-reviews .review .first, .recent-reviews .review .second {
  width: 20%;
}
.recent-reviews .review .third {
  width: 50%;
}

.favourite {
  padding: 30px 40px;
}
.favourite .products {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.favourite .product {
  height: -moz-fit-content;
  height: fit-content;
  width: 350px;
}
.favourite .product .top {
  height: 500px;
  border-radius: 10px;
}
.favourite .product .bottom .texts {
  padding: 20px;
  padding-left: 0;
  font-size: 15px;
}
.favourite .product .bottom .texts .first, .favourite .product .bottom .texts .recent-reviews .review .second, .recent-reviews .review .favourite .product .bottom .texts .second {
  font-weight: bold;
}
.favourite .product .bottom .texts .fourth {
  color: rgb(168, 168, 168);
}

.footer {
  background-color: white;
  border-top: 1px solid rgb(224, 224, 224);
  margin-top: 100px;
  padding: 50px 30px 10px 30px;
}
.footer .footer1 {
  margin-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.footer .p1 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer .p2 {
  font-size: 13px;
  margin-bottom: 20px;
}
.footer .email {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 20px;
  border: 1px solid rgb(224, 224, 224);
  outline-color: #4F46E5;
  border-radius: 7px;
  margin-right: 0;
}
.footer .des {
  font-size: 15px;
  margin: 20px 0;
}
.footer button {
  padding: 10px 20px;
  font-size: large;
  background-color: #4F46E5;
  color: white;
  border: none;
  border-radius: 7px;
  margin-left: 0;
  transform: unset;
  opacity: unset;
}

#colorform, #textform {
  display: none;
}

.mobile-header, .slidein {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-header {
    display: block;
    padding: 15px 30px 15px 30px;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: white;
  }
  .mobile-header a {
    text-decoration: none;
    color: unset;
  }
  .mobile-header .header-cvr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-header .header-cvr .cvr1 {
    display: flex;
  }
  button {
    font-family: "Montserrat";
    cursor: pointer;
    padding: 7px 8px;
    border: none;
    border-radius: 7px;
    background-color: #4F46E5;
    color: black;
    font-size: 15px;
  }
  .slidein {
    display: block;
    width: 70%;
    z-index: 40;
    background-color: white;
    transition: 0.5s;
    position: fixed;
    right: -100%;
    height: 100vh;
    top: 0;
    padding: 30px;
  }
  .slidein .fa-solid.fa-xmark.fa-xl {
    float: right;
  }
  .slidein a {
    color: black;
  }
  .slidein .slideincvr {
    margin-top: 50px;
    display: block;
    line-height: 50px;
    font-size: 20px;
  }
  .slidein .cvr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .slidein .cvr a {
    font-weight: bold;
    font-size: 25px;
  }
  .header {
    display: none;
  }
  .desktop {
    display: none;
  }
  .home1 {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .home1 .img {
    width: 100%;
    height: 450px;
    margin-right: unset;
  }
  .home1 .second {
    width: 100%;
    margin-top: 30px;
  }
  .home1 .second .top {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
  }
  .home1 .second .sizez .size-brick-cvr {
    justify-content: space-between;
  }
  .home1 .second .sizez .size-brick {
    width: 60px;
    font-size: 18px;
    height: 40px;
    margin: 0 5px 10px 0;
  }
  .home1 .second .button, .home1 .second .sgn-btn {
    margin: 20px 0;
    padding: 15px 0;
    font-size: 15px;
  }
  .home1 .second1 {
    display: block;
  }
  .recent-reviews {
    padding: 20px;
  }
  .recent-reviews .header2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .favourite {
    margin-top: 30px;
    padding: 30px 20px;
  }
  .favourite .products {
    justify-content: space-between;
  }
  .favourite .product {
    cursor: pointer;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 150px;
  }
  .favourite .product .top {
    height: 171.4px;
    border-radius: 10px;
  }
  .favourite .product .bottom .texts {
    padding: 20px 0;
    font-size: 10px;
  }
  .footer {
    padding: 50px 20px 10px 20px;
    margin-top: 20px;
  }
  .footer h1 {
    font-size: 30px;
  }
  .footer .email {
    font-size: 15px;
    width: 60%;
  }
  .footer form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer button {
    font-size: 15px;
    width: 38%;
  }
}/*# sourceMappingURL=productpage.css.map */