body {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #F9FAFB;
  position: relative;
}

.grey-text, .hero1 .texts p, .header .header-cvr .third, .header .header-cvr .second {
  color: rgb(105, 105, 105);
  font-size: 15px;
  margin: 0;
}

button {
  cursor: pointer;
}

.bold-text, .header .header-cvr .name, .name {
  font-weight: bold;
}

.name {
  font-size: 20px;
}

.header {
  padding: 10px 60px;
  background-color: white;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.header .header-cvr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-cvr .name {
  font-size: 20px;
}
.header .header-cvr .second {
  display: flex;
}
.header .header-cvr .third {
  display: flex;
}

.hero1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  margin-bottom: 40px;
}
.hero1 .texts {
  text-align: center;
}
.hero1 .texts h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.sort {
  margin: 20px 0;
  padding: 20px 50px 0 50px;
  border-top: 1px solid rgb(158, 158, 158);
  position: sticky;
  top: 0px;
  background-color: #F9FAFB;
}
.sort .sort-cvr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sort .sort-cvr .text2 {
  display: flex;
}
.sort .sort-cvr .text2 p {
  margin-left: 15px;
}
.sort #myDropdown {
  padding: 0 5px;
  font-family: "Montserrat";
  background-color: #F9FAFB;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
}

.favourite {
  padding: 30px 40px;
}
.favourite .products {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.favourite .product {
  height: -moz-fit-content;
  height: fit-content;
  width: 350px;
}
.favourite .product .top {
  height: 500px;
  border-radius: 10px;
}
.favourite .product .bottom .texts {
  padding: 20px;
  padding-left: 0;
  font-size: 15px;
}
.favourite .product .bottom .texts .first {
  font-weight: bold;
}
.favourite .product .bottom .texts .fourth {
  color: rgb(168, 168, 168);
}

.footer {
  background-color: white;
  border-top: 1px solid rgb(224, 224, 224);
  margin-top: 100px;
  padding: 50px 30px 10px 30px;
}
.footer .footer1 {
  margin-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.footer .p1 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer .p2 {
  font-size: 13px;
  margin-bottom: 20px;
}
.footer .email {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 20px;
  border: 1px solid rgb(224, 224, 224);
  outline-color: #4F46E5;
  border-radius: 7px;
  margin-right: 0;
}
.footer .des {
  font-size: 15px;
  margin: 20px 0;
}
.footer button {
  padding: 10px 20px;
  font-size: large;
  background-color: #4F46E5;
  color: white;
  border: none;
  border-radius: 7px;
  margin-left: 0;
  transform: unset;
  opacity: unset;
}

.mobile-header, .slidein, .sort-cvr-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .sort {
    padding: 20px 20px 0 20px;
    position: unset;
  }
  .sort .sort-cvr {
    display: none;
  }
  .sort-cvr-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sort-cvr-mobile .text2 {
    display: flex;
  }
  .sort-cvr-mobile .text2 p {
    margin-left: 15px;
  }
  .mobile-header {
    display: block;
    padding: 15px 30px 15px 30px;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: white;
  }
  .mobile-header a {
    text-decoration: none;
    color: unset;
  }
  .mobile-header .header-cvr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-header .header-cvr .cvr1 {
    display: flex;
  }
  button {
    font-family: "Montserrat";
    cursor: pointer;
    padding: 7px 8px;
    border: none;
    border-radius: 7px;
    background-color: #4F46E5;
    color: black;
    font-size: 15px;
  }
  .slidein {
    display: block;
    width: 70%;
    z-index: 40;
    background-color: white;
    transition: 0.5s;
    position: fixed;
    right: -100%;
    height: 100vh;
    top: 0;
    padding: 30px;
  }
  .slidein .fa-solid.fa-xmark.fa-xl {
    float: right;
  }
  .slidein a {
    color: black;
  }
  .slidein .slideincvr {
    margin-top: 50px;
    display: block;
    line-height: 50px;
    font-size: 20px;
  }
  .slidein .cvr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .slidein .cvr a {
    font-weight: bold;
    font-size: 25px;
  }
  .header {
    display: none;
  }
  .footer {
    padding: 50px 20px 10px 20px;
    margin-top: 20px;
  }
  .footer h1 {
    font-size: 30px;
  }
  .footer .email {
    font-size: 15px;
    width: 60%;
  }
  .footer form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer button {
    font-size: 15px;
    width: 38%;
  }
  .hero1 {
    margin-bottom: 20px;
  }
  .hero1 .texts h1 {
    font-size: 30px;
  }
  .favourite {
    margin-top: 30px;
    padding: 30px 20px;
  }
  .favourite .products {
    justify-content: space-between;
  }
  .favourite .product {
    cursor: pointer;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 150px;
  }
  .favourite .product .top {
    height: 171.4px;
    border-radius: 10px;
  }
  .favourite .product .bottom .texts {
    padding: 20px 0;
    font-size: 10px;
  }
}/*# sourceMappingURL=product.css.map */