body {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(168, 168, 168);
}

button {
  font-family: "Montserrat";
  cursor: pointer;
  padding: 7px 8px;
  border: none;
  border-radius: 7px;
  background-color: #4F46E5;
  color: black;
  font-size: 15px;
}

.grey-text, .header-dark .header-cvr .third, .header-dark .header-cvr .second {
  color: rgb(105, 105, 105);
  font-size: 15px;
  margin: 0;
}

.bold-text, .header-dark .header-cvr .name, .shop .p1, .name {
  font-weight: bold;
}

.name {
  font-size: 20px;
}

.shop {
  display: flex;
  justify-content: space-between;
}
.shop .p1 {
  font-size: 25px;
}

.header-dark {
  padding: 10px 60px;
  background-color: rgb(31, 31, 31);
  color: white;
}
.header-dark ul {
  cursor: pointer;
}
.header-dark ul:hover {
  color: rgb(168, 168, 168);
}
.header-dark .header-cvr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-dark .header-cvr .name {
  font-size: 20px;
  color: white;
}
.header-dark .header-cvr .second {
  display: flex;
  color: white;
}
.header-dark .header-cvr .third {
  display: flex;
  color: white;
}
.header-dark .header-cvr .third1 {
  display: flex;
}
.header-dark .header-cvr .third1 .profimg {
  width: 35px;
  height: 35px;
  border-radius: 50px;
}
.header-dark .header-cvr .third1 .profile-container {
  position: relative;
}
.header-dark .header-cvr .third1 .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -80px;
  color: black;
  background-color: #f9f9f9;
  padding: 10px;
  width: -moz-max-content;
  width: max-content;
}
.header-dark .header-cvr .third1 .dropdown-menu div {
  margin: 10px 10px;
}
.header-dark .header-cvr .third1 .profile-container:hover .dropdown-menu {
  display: block;
}

.home {
  max-height: 90vh;
  height: 600px;
  background: url("pictures/alexander-andrews-BX4Q0gojWAs-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.home .color-cover {
  height: 100%;
  width: 100%;
  background-color: rgba(70, 70, 70, 0.719);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .texts {
  color: white;
  text-align: center;
  width: 750px;
}
.home .texts h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0;
}
.home .texts p {
  font-size: 20px;
  margin: 30px 0;
}
.home .texts button {
  padding: 15px 50px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Montserrat";
}

.category {
  padding: 70px 40px;
}
.category .categories {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.category .categories .cat1 {
  height: 300px;
  width: 210px;
  border-radius: 10px;
  cursor: pointer;
}
.category .categories .cat1 .color-over {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(240, 240, 240, 0), rgba(134, 134, 134, 0.158));
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 20px;
  color: white;
}
.category .categories .cat1 .color-over .text, .category .categories .cat1 .color-over .header-dark .header-cvr .third1, .header-dark .header-cvr .category .categories .cat1 .color-over .third1 {
  padding-bottom: 30px;
}
.category .categories .cat1:hover .color-over {
  background: linear-gradient(rgba(240, 240, 240, 0.432), rgba(134, 134, 134, 0.438));
}

.category1 {
  padding: 70px 40px;
  display: none;
}
.category1 .categories {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.category1 .categories .cat1 {
  height: 300px;
  width: 210px;
  border-radius: 10px;
  cursor: pointer;
}
.category1 .categories .cat1 .color-over {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(240, 240, 240, 0), rgba(134, 134, 134, 0.158));
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 20px;
  color: white;
}
.category1 .categories .cat1 .color-over .text, .category1 .categories .cat1 .color-over .header-dark .header-cvr .third1, .header-dark .header-cvr .category1 .categories .cat1 .color-over .third1 {
  padding-bottom: 30px;
}
.category1 .categories .cat1:hover .color-over {
  background: linear-gradient(rgba(240, 240, 240, 0.432), rgba(134, 134, 134, 0.438));
}

.home1 {
  max-height: 80vh;
  height: 500px;
  margin: 30px 40px;
  border-radius: 10px;
  overflow: hidden;
}
.home1 .color-cover {
  height: 100%;
  width: 100%;
  background-color: rgba(70, 70, 70, 0.719);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home1 .texts {
  color: white;
  text-align: center;
  width: 50%;
}
.home1 .texts h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
}
.home1 .texts p {
  font-size: 18px;
  margin: 30px 0;
}
.home1 .texts button {
  padding: 15px 50px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Montserrat";
}

.favourite {
  padding: 30px 40px;
}
.favourite .products {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.favourite .product {
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
  width: 350px;
}
.favourite .product .top {
  height: 500px;
  border-radius: 10px;
}
.favourite .product .bottom .texts {
  padding: 20px;
  padding-left: 0;
  font-size: 15px;
}
.favourite .product .bottom .texts .first, .favourite .product .bottom .texts .fourth {
  font-weight: bold;
}
.favourite .product .bottom .texts .fourth {
  color: rgb(168, 168, 168);
}

.footer {
  margin-top: 100px;
  padding: 50px 30px 10px 30px;
  background-color: rgb(24, 25, 34);
  color: white;
}
.footer .footer1 {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.footer .p1 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer .p2 {
  font-size: 13px;
  color: rgb(168, 168, 168);
  margin-bottom: 20px;
}
.footer .email {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 20px;
  border: 1px solid rgb(224, 224, 224);
  outline-color: #4F46E5;
  border-radius: 7px;
  margin-right: 0;
}
.footer .des {
  font-size: 15px;
  margin: 20px 0;
}
.footer button {
  padding: 10px 20px;
  font-size: large;
  background-color: rgb(37, 37, 190);
  color: white;
  border: none;
  border-radius: 7px;
  margin-left: 0;
  transform: unset;
  opacity: unset;
}

.popup-cvr {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}
.popup-cvr .popup {
  background-color: #198754;
  padding: 30px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -130px;
  z-index: 10;
  transition: top 1s;
}
.popup-cvr .popup .close-popup-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.mobile-header {
  display: none;
}

.slidein {
  display: none;
}

@media screen and (max-width: 768px) {
  .shop {
    display: block;
    line-height: 50px;
  }
  .shop .p1 {
    font-size: 25px;
  }
  .mobile-header {
    display: block;
    padding: 15px 30px 15px 30px;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: white;
  }
  .mobile-header a {
    text-decoration: none;
    color: unset;
  }
  .mobile-header .header-cvr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-header .header-cvr .cvr1 {
    display: flex;
  }
  button {
    font-family: "Montserrat";
    cursor: pointer;
    padding: 7px 8px;
    border: none;
    border-radius: 7px;
    background-color: #4F46E5;
    color: black;
    font-size: 15px;
  }
  .slidein {
    display: block;
    width: 70%;
    z-index: 40;
    background-color: white;
    transition: 0.5s;
    position: fixed;
    right: -100%;
    height: 100vh;
    top: 0;
    padding: 30px;
  }
  .slidein .fa-solid.fa-xmark.fa-xl {
    float: right;
  }
  .slidein a {
    color: black;
  }
  .slidein .slideincvr {
    margin-top: 50px;
    display: block;
    line-height: 50px;
    font-size: 20px;
  }
  .slidein .cvr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .slidein .cvr a {
    font-weight: bold;
    font-size: 25px;
  }
  .header-dark {
    display: none;
  }
  .home {
    height: 60vh;
    min-height: 350px;
  }
  .home .color-cover .texts {
    width: 80%;
  }
  .home .color-cover .texts h1 {
    font-size: 40px;
  }
  .home .color-cover .texts p {
    font-size: 20px;
    margin: 20px 0;
  }
  .home .color-cover .texts button {
    padding: 12px 40px;
    font-size: 16px;
  }
  .category1 {
    padding: 30px 20px;
    display: block;
  }
  .category1 .categories {
    overflow: scroll;
    align-items: center;
  }
  .category1 .categories .cat1 {
    margin-bottom: 20px;
    min-width: 200px;
    margin-left: 20px;
  }
  .category {
    display: none;
  }
  .favourite {
    padding: 30px 20px;
  }
  .favourite .products {
    justify-content: center;
  }
  .favourite .product {
    cursor: pointer;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 50px;
    width: 100%;
  }
  .favourite .product .top {
    height: 60vh;
    border-radius: 10px;
  }
  .home1 {
    margin: 30px 20px;
    height: 70vh;
  }
  .home1 .color-cover .texts {
    width: 80%;
  }
  .home1 .color-cover .texts h1 {
    font-size: 30px;
  }
  .home1 .color-cover .texts p {
    font-size: 15px;
    margin: 20px 0;
  }
  .home1 .color-cover .texts button {
    padding: 12px 40px;
    font-size: 16px;
  }
  .footer .email {
    font-size: 15px;
    width: 56%;
  }
  .footer form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer button {
    font-size: 15px;
    width: 42%;
  }
}/*# sourceMappingURL=style.css.map */