body{
    font: 1em sans-serif;
    padding: 0;
    margin: 0;
}
.top{
    position: fixed;
    display: inline-block;
    width: 100%;
    font-size: small;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
  
    z-index: 10;
}
.top div{
    background-color:rgb(0, 140, 255);
    height: 40px;
    width: 80px;
    display: inline-block;
  float:left;
    color:white;
    position:relative;
  
  margin-left:100px;
} 

.top div p{
  position:absolute;
  font-size: 22px; font-weight: bold; 
  bottom:-15px;
  left:10px;
 
  
}

a{
    text-decoration: none;
    color: rgb(90, 91, 92);
    margin: 10px 10px;
  font-size:15px;
    
    
}
a:active {
    color:rgb(44, 44, 44);
    font-weight: bolder;
}
a:hover{
    color: green;
}


.firstpage{
    margin: 0;
    padding: 0;
    background-color: white;
    height: 650px;
    width: 100%;
    position: relative;
    
}
.firstpage h1{
    position: absolute;
    top: 160px;
    left: 100px;
    font-size: 42px;    
}
.firstpage #c{
    position: absolute;
    top: 280px;
    left: 100px;
    font-size: 18px;
    line-height: 25px;
}



.firstpage  button{
    position: absolute;
    top: 410px;
    color: white;
    display: inline;
    padding: 10px;
    border-radius: 30px;
    width: 100px;
}
.firstpage  button:hover {
    width: 130px;
  transition:1s;
}

.firstpage #a {
    border: 1px solid white;
    background-color: black; 
    left: 100px;
}

.b {
    border: 1px solid  rgb(0, 140, 255);
    background-color: rgb(0, 140, 255);
    left: 230px;
    color: white;
    padding: 10px;
    border-radius: 30px;
    width: 90px;
}
.secondpage{
    margin-left: 100px;
    height: 600px;
  
}

.secondpage .a{
margin-top: 50px;
margin-bottom: 50px;
font-size: 30px;
font-weight: bold;
}

.secondpage .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "first second third";
    grid-column-gap: 0px;
    line-height: 25px;
}
.secondpage img{
    width: 350px;
    margin: 0;
    height: 250px;
}
.secondpage .first {
    grid-area: first;
    width: 350px;
    
}

.secondpage .second {
    grid-area: second;
    width: 350px;
}

.secondpage .third {
    grid-area: third;
    width: 350px;
}